      #header{
    
      background-image: url(https://s-media-cache-ak0.pinimg.com/originals/10/a1/ad/10a1ad06c09f1f061e0a3a7be9e143dc.gif);
      background-repeat: no-repeat;
      background-position: center;
      width: 0 auto;
      padding: .889em;
      
      }

    .hgroup{
      font:bold 1.5em 'Open Sans', arial, sans-serif;
      color:#fff;
    }
    .hgroup>a>img{
      
      float: left;
      width: 10em;
      height: 8em;
    }
    
    #wrapper{
    font: normal 'Open Sans', arial, sans-serif;
    padding: .889em;
    
    }
    body{
      background: linear-gradient(#0B173B, #E0ECF8);
      
    }
    
    #embedded-human{
      padding: .889em;
      float: left;
    }
    
      #portfolio{
      padding: .889em;
      float: left;
  }


