
#header{
    background-color: #cab9a5!important;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/10/a1/ad/10a1ad06c09f1f061e0a3a7be9e143dc.gif);
}
body {
  background-color: #e9d0f5;
  }
  
  h1 {
  color: black;
  }

