

#header{
    background-color: #cab9a5!important;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/10/a1/ad/10a1ad06c09f1f061e0a3a7be9e143dc.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 0 auto;
    padding: 1em;
    
}
body {
  background: #CAB068 !important;

  }

#wrapper{
    font: normal 14px/1em 'Open Sans', arial, sans-serif;
    color: #0A2A22;
    padding: 1em;
}
  
  h1 {
  color: #0A2A22;
  }
  
  #embedded-human{
      padding: 1em;
      float: left;
  }

